{% load static %}
<!-- chat/templates/chat/room.html -->
<!-- html que contiene la sala de chat, contiene un:
- chat-log
- input para los mensajes
- boton para el submit del mensaje -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>

<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
        //variables que contienen el nombre de la sala y el usuario que se encuentra en ella
		var roomName = {{ room_name_json }};
		var username = {{ username }};

        //creacion del websocket, para nuestro caso, 127.0.0.1:8000/ws/chat/'nombre de la sala/
        var chatSocket = new ReconnectingWebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        //funcion listener que le pernmite al websocket estar a la 'escucha' de nuevos mensajes
        chatSocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			var message = data['message'];
            var author = message['author'];
            
            //se usa un selector query que toma el "chat-log" y le asigna el valor de nuestro mensaje enviado
            //tomando el mensaje enviado, tranformando el mensaje y enviandolo de vuelta.
			document.querySelector('#chat-log').value += (message.author +': '+ message.content + '\n');
		};

        //funcion listener que le pernmite al websocket avisar al momento de ocurrir un error en la conexion
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        
        //eventos de teclado utilizando selectores querys
        document.querySelector('#message-input').focus();
        document.querySelector('#message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        
        //el evento de click toma el valor del input y envia ese valor al websocket
        //luego de eso, reinicia el valor del input a un string vacio
        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
				'command': 'new_messages',
				'message': message,
				'from': username
                
            }));
    
            messageInputDom.value = '';
        };
</script>
</html>